
.About-heading{
    color:#173b6c;
}
.About-heading:active{
text-decoration: underline;
}
.sudarshan{
    color: #173b6c;
    position: absolute;
    top:44%;
    width: 100%;
    text-align: center;

}
.section-1{
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.section-1 img{width: 100%;}
.sudarshan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: move-text 1s ease-out forwards;
  }
  
  @keyframes move-text {
    from {
      transform: translate(-50%, -50%) scale(0);
    }
    to {
      transform: translate(-50%, -50%) scale(1);
    }
  }
