html, body {
	height: 100vh; /* needed to be able to use 100% height in the columns */
}

.header {
    top: 0;
    left: 0;
    padding: 10px 15px;
    background-color: rgb(0, 0, 0);
    flex-wrap: wrap;
    z-index: 2;
    transition: all 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    padding: 0 15px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
    background: #040b14;
    overflow-y: auto;
    color: rgb(255, 255, 255);
    height: 100vh;
    position: fixed;
    


  }
 .main-div{
    margin-top: 20px;
 } 
  a {
    color: rgba(255, 255, 255, 0.805);
 }
 .navbar-item > a {
  color: rgb(65, 63, 63);
}

.navbar-item > a:hover, .navbar-item > a.active {
  color: rgb(79, 84, 227);
  font-weight: bold;
}
.navbar-item > a:hover, .navbar-item > a:active {
  position: relative;
  z-index: 2;
  transition: all 0.7s ease;
}

 h1{
    font-size: 31px;
 }
  
  .profile-picture {
    display: flex;
    width: 120px;
    border-radius: 50%;
    margin: 15px auto ;
    border: 8px solid #2c2f3f;
    max-width: 100%;

  }

  
  .social-icons {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }  
  .social-icon {
   font-size: 30px;
    color: #333;
    margin-right: 15px;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.52vh;
  }
  
  .nav-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
  }
    .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    padding: 1.5vh;
  }

 .navbardiv{
    margin-top: 10px;
    justify-content: flex-start;
    display: flex;
    font-size: 20px;
 }
 .footer {
    width: 100%;
    bottom: 0;
    text-align: center;
    color: rgb(75, 74, 74);
}

.footer-content {
    padding: 8px;
}
/* .header{
    display: flex;
  flex-direction: column;   
  flex-basis: 46.5879vh;
}   */
/* .main-home>.HomeContainer{
  display: flex;
  flex-direction: column;
  flex-flow: column;
  flex-direction: initial;
} */
.header .main-home{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}